<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin: 0">
    <div id="content">
          <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="/home/index" class="mdl-layout__tab is-active">Home</a>
            <a class="mdl-navigation__link" href="/usertracks">User Traking</a>
            <a class="mdl-navigation__link" href="/contacts">Lista de Contatos</a>
          </div>
        <main class="mdl-layout__content">
          <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
            <div class="page-content" style="margin: 20px">  <%= yield %></div>
          </section>
        </main>
    </div>
    <script>
        callback = function initTracking() {
            if(currentPage == undefined){
                var currentPage = null;
            }

            setInterval(function(){
                if (currentPage != window.location.href){
                    currentPage = window.location.href;
                    UserTrack.push(UserTrack.readCookie('guid'));
                }

            }, 100);
        }

        document.onload = loadScript('/assets/userTrack.self-83781d3cab88ec4a696b3390883b2b9c674fdc06250ffe9d124cf3cfee4767c4.js?body=1', callback)
        function loadScript(url, callback){
            console.log("loadscript");
            var script = document.createElement("script")
            script.type = "text/javascript";

            if (script.readyState){  //IE
                script.onreadystatechange = function(){
                    if (script.readyState == "loaded" ||
                        script.readyState == "complete"){
                        script.onreadystatechange = null;
                        callback();
                    }
                };
            } else {  //Others
                script.onload = function(){
                    callback();
                };
            }

            script.src = url;
            document.getElementsByTagName("head")[0].appendChild(script);
        }

    </script>
  </body>
</html>
