<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin: 0">
    <div id="content">
          <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="/home/index" class="mdl-layout__tab is-active">Home</a>
            <a class="mdl-navigation__link" href="/usertracks">User Traking</a>
            <a class="mdl-navigation__link" href="/contacts">Lista de Contatos</a>
          </div>
        <main class="mdl-layout__content">
          <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
            <div class="page-content" style="margin: 20px">  <%= yield %></div>
          </section>
        </main>
    </div>
  </body>
</html>
